<div class="card mt-3" *ngIf="teamLoaded">
    <div class="card-header"><div class="row align-items-end"><div class="col-8 h5 fst-italic">{{teamSummary.teamName}}</div><div class="col small" >{{winRecord}}</div><div class="col align-self-end">U10</div></div></div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-2 fst-italic fw-light small">Season Stats:</div>
                <div class="col-5 text-center">
                    <div class="row border-bottom small">
                        <div class="col">G</div>
                        <div class="col">A</div>
                        <div class="col">P</div>
                        <div class="col">S</div>
                        <div class="col">PM</div>
                    </div>
                    <div class="row small">
                        <div class="col">{{teamSummary.goals}}</div>
                        <div class="col">{{teamSummary.assists}}</div>
                        <div class="col">{{teamSummary.points}}</div>
                        <div class="col">{{teamSummary.shots}}</div>
                        <div class="col">{{teamSummary.penaltyMin}}</div>
                        
                    </div>
                </div>
                <div class="col-2">
                    
                </div>
                <div class="col-2">
                    <div class="row" *ngIf="teamSummary.playerNumber">#{{teamSummary.playerNumber}}</div><div class="row">{{teamSummary.regularPosition}}</div>
                </div>
            </div>
            <div class="row align-items-start py-3">
                <div class="col-2 fst-italic fw-light smallFont">Next Game:</div>
                <div class="col">
                    <div class="row"><div class="col smallFont">{{nextGameDate}}</div></div>
                    <div class="row"><div class="col smallFont">{{nextGameVs}}</div></div>
                    <div class="row"><div class="col smallFont">{{nextGameLocation}}</div></div>
                </div>
            </div>
            
        </div>
    </div>
</div>