<div class="card mt-3" *ngIf="teamLoaded">
    <div class="card-header"><div class="row align-items-end"><div class="col-8 h5 fst-italic">{{teamSummary.teamName}}</div><div class="col align-self-end"></div></div></div>
    <div class="card-body">
        <div class="container">
            
            <div class="row row-cols-auto">
                <div class="col-3 fst-italic fw-light small">Overall Record:</div>
                <div class="col-5 text-start">
                    <div class="col small" >{{winRecord}}</div>        
                </div>
                
            </div>
            <div class="row row-cols-auto pt-2">
                <div class="col-2 fst-italic fw-light small">Season Stats:</div>
                <div class="col-5 text-center">
                    <div class="row border-bottom small">
                        <div class="col">G</div>
                        <div class="col">A</div>
                        <div class="col">P</div>
                        <div class="col">S</div>
                        <div class="col">PM</div>
                    </div>
                    <div class="row small">
                        <div class="col">{{teamSummary.goals}}</div>
                        <div class="col">{{teamSummary.assists}}</div>
                        <div class="col">{{teamSummary.points}}</div>
                        <div class="col">{{teamSummary.shots}}</div>
                        <div class="col">{{teamSummary.penaltyMin}}</div>
                        
                    </div>
                </div>
                <div class="col-2">
                    
                </div>
                <div class="col-2">
                    <div class="row" *ngIf="teamSummary.playerNumber">
                        <div class="col playerNumber"><span style="font-family: varsity;color: var(--primaryColor);font-size: 1.5em;" class="primary">#{{teamSummary.playerNumber}}</span></div>
                    </div>
                    <div class="row">{{teamSummary.regularPosition}}</div>
                </div>
            </div>
                        
        </div>
    </div>
</div>