
<div *ngIf="this.team" class="container h-100 rounded-3 bg-white" style="padding: 15px">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{team.name}} <span *ngIf="numberPosString" class="badge bg-primary rounded-pill">{{numberPosString}}</span>
                    <button id=buttonEdit class="border-0" style="background-color: transparent;"  data-bs-toggle="modal" data-bs-target="#editTeamModal" (click)="onEditOpened()">
                        <svg class="bi" width="14" height="14" fill="none">
                            <use xlink:href="assets/icons/bootstrap-icons.svg#pencil"/>
                        </svg>
                    </button>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>{{team.ageClass}} | {{team.level}} | {{team.season}} </h4>
            </div>
        </div>
    </div>
    <div class="container bg-white rounded-3 shadow-lg p-0 pt-3">

        <div class="row my-2 mx-3 ">
            <div class="col-md-6">
                <app-text-field *ngIf="team.headCoach" labelText="Head Coach">{{team.headCoach}}</app-text-field>
                <app-text-field *ngIf="team.assistantCoach1" labelText="Assistant Coach">{{team.assistantCoach1}}</app-text-field>
                <app-text-field *ngIf="team.assistantCoach2" labelText="Assistant Coach">{{team.assistantCoach2}}</app-text-field>
                <app-text-field *ngIf="team.manager" labelText="Manager">{{team.manager}}</app-text-field>
                <app-player-stats [teamId]="this.team.teamId" [displayMode]="'TeamStats'" ></app-player-stats>
                <app-team-record [teamId]="this.team.teamId"></app-team-record>
                <app-practice-display [teamId]="this.team.teamId"></app-practice-display>              
            </div>
            <div class="col-md">
                <h3>
                    <div class="d-flex justify-content-between p-0 pt-3 mb-2">
                        <div>Games</div>
                        <div class="me-3">
                            <app-tool-button (click)="addGame()" iconHref="assets/icons/bootstrap-icons.svg#plus-square" labelText="Add Game"></app-tool-button>
                        </div>
                    </div>
                </h3>
                <div class="row d-flex flex-grow-1 p-0" style="margin-top: 10px;overflow-y: visible;">
                    <div class="col p-0">
                        <app-hockey-game-list [teamId]="this.team.teamId"></app-hockey-game-list>
                    </div>
                </div>
            </div>
        </div>
               
    </div>
</div>

<div *ngIf="this.team" class="modal fade" #editTeamModal id="editTeamModal" tabindex="-1" aria-labelledby="editTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="editTeamModalLabel">{{team.name}}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container bg-white rounded-3 pb-5">
                    <form #hockeyTeamForm="ngForm" id="hockeyTeamForm" (ngSubmit)="!hockeyTeamForm.invalid && saveTeam()">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Name</span>
                            <input type="text" class="form-control" name="teamName" required="required" [(ngModel)]="editTeam.name" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Season</span>
                            <input type="text" class="form-control" name="season" required="required" [(ngModel)]="editTeam.season" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Org Location</span>
                            <input type="text" class="form-control" name="org" [(ngModel)]="editTeam.org.city" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Org Nickname</span>
                            <input type="text" class="form-control" name="mascot" required="required" [(ngModel)]="editTeam.org.name" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Player #</span>
                            <input type="text" class="form-control" name="playerNumber" [(ngModel)]="editTeam.playerNumber" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Position</span>
                            <input type="text" class="form-control" name="position" [(ngModel)]="editTeam.regularPosition" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Age</span>
                            <input type="text" class="form-control" name="age" [(ngModel)]="editTeam.ageClass" >
                        </div>
                        <div class="input-group input-group-sm input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Level</span>
                            <input type="text" class="form-control" name="level" [(ngModel)]="editTeam.level" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Head Coach</span>
                            <input type="text" class="form-control" name="headCoach" [(ngModel)]="editTeam.headCoach" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Asst Coach</span>
                            <input type="text" class="form-control" name="asstCoach1" [(ngModel)]="editTeam.assistantCoach1" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Asst Coach</span>
                            <input type="text" class="form-control" name="asstCoach2" [(ngModel)]="editTeam.assistantCoach2" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Manager</span>
                            <input type="text" class="form-control" name="Manager" [(ngModel)]="editTeam.manager" >
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" style="width:100px">Start Date</span>
                            <input type="date" class="form-control"  name="startDate" required="required" [ngModel]="editTeam.startDate | date:'yyyy-MM-dd'" (ngModelChange)="newStartDateStr = $event">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="form-check form-switch ms-4">
                                <label class="form-check-label" for="isActive">Active</label>
                                <input class="form-check-input" type="checkbox" id="isActive" name="isActive" [(ngModel)]="editTeam.active" >
                            </div>
                        </div>
                    </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="hockeyTeamForm" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
              </div>
        </div>
    </div>
</div>


