<div *ngIf="this.team" class="container rounded-3 bg-white" style="padding: 15px">
    <h2>{{team.name}} <span class="badge bg-primary rounded-pill">#{{team.playerNumber}}-{{team.regularPosition}}</span></h2>
    <div class="container bg-secondary rounded-3 ">
        <div class="row my-2 gy-3">
            <div class="col">
                        
                
                <div class="container bg-white rounded-3">
                    <div class="row">
                        <div class="col">
                            <div class="row"><div class="col-3">Coach:</div><div class="col">{{team.headCoach}}</div></div>
                            <div class="row" *ngIf="team.assistantCoach1"><div class="col-3">Assistant Coach:</div><div class="col">{{team.assistantCoach1}}</div></div>
                            <div class="row" *ngIf="team.assistantCoach2"><div class="col-3">Assistant Coach:</div><div class="col">{{team.assistantCoach2}}</div></div>
                            <div class="row" *ngIf="team.manager"><div class="col-3">Manager:</div><div class="col">{{team.manager}}</div></div>
                        </div>
                        <div class="col">
                            <div class="overflow-auto">
                                <app-team-record [teamId]="this.team.teamId"></app-team-record>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row my-2">
            <div class="col smallFont">                
                <app-player-stats [teamId]="this.team.teamId"></app-player-stats>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                
                <div class="row">
                    <div class="col offset-md-10">
                        <button class="btn btn-sm bg-white rounded-pill" (click)="addGame()">New Game</button>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <app-hockey-game-list [teamId]="this.team.teamId"></app-hockey-game-list>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


