<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <div><a href="/" class="navbar-brand">iInTeam</a></div>
            <ul class="navbar-nav">
                <li *ngIf="auth.user$ | async as user"><a  routerLink="/dashboard" class="nav-link">Dashboard</a></li>
                <li *ngIf="auth.user$ | async as user"><a  routerLink="/teams" class="nav-link">Teams</a></li>
                <li *ngIf="auth.user$ | async as user"><a  routerLink="/teams" class="nav-link">Camps/Clinics</a></li>
                <li *ngIf="auth.user$ | async as user"><a  routerLink="/teams" class="nav-link">Calendar</a></li>
                <li *ngIf="auth.user$ | async as user"><a  routerLink="/player" class="nav-link">Player</a></li>
            </ul>
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li *ngIf="auth.user$ | async as user"><a routerLink="/login" class="nav-link">Account</a></li>
                
                <ng-container *ngIf="auth.isAuthenticated$ | async as user; else loggedOut">
                    <li><button (click)="auth.logout();" class="btn btn-primary">
                      Log out
                    </button></li>
                  </ng-container>
              
                  <ng-template #loggedOut>
                    <li><button (click)="auth.login()" class="btn btn-primary">Log in</button></li>
                  </ng-template>
            </ul>
        </div>
    </nav>
</header>
