<div class="container-fluid px-0 px-md-3 py-2 py-md-3">
    <div class="row">
        <div class="col-lg-3 pb-5">
            <div class="container rounded-2 shadow bg-light pb-5">
                <h3>
                    <div class="d-flex justify-content-between pt-3 mb-2">
                        <div class="">Teams</div>
                        <div class="me-3">
                            <app-tool-button data-bs-target="#addTeamModal" data-bs-toggle="modal" (click)="onAddTeamOpened()"
                                iconHref="assets/icons/bootstrap-icons.svg#plus-square" labelText="Add Team"></app-tool-button>
                        </div>
                    </div>
                </h3>
                <div class="btn-group-sm d-flex justify-content-end mb-1"  role="group" aria-label="groupBySelection">
                    <input type="radio" class="btn-check" name="btnRadio" id="btnGroupActive" autocomplete="off" [checked]="isGroupBySelected('active')">
                    <label class="btn btn-outline-secondary border-0" style="font-size: 0.9em;" for="btnGroupActive" (click)="setGrouping(['active', 'ASC'])">Active</label>

                    <input type="radio" class="btn-check" name="btnRadio" id="btnGroupSport" autocomplete="off" [checked]="isGroupBySelected('sport')">
                    <label class="btn btn-outline-secondary border-0" style="font-size: 0.9em;" for="btnGroupSport" (click)="setGrouping(['sport', 'ASC'])">Sport</label>

                    <input type="radio" class="btn-check" name="btnRadio" id="btnGroupSeason" autocomplete="off" [checked]="isGroupBySelected('season')">
                    <label class="btn btn-outline-secondary border-0" style="font-size: 0.9em;" for="btnGroupSeason" (click)="setGrouping(['season', 'DESC'])">Season</label>
                  
                    <input type="radio" class="btn-check" name="btnRadio" id="btnGroupOrg" autocomplete="off" [checked]="isGroupBySelected('org')">
                    <label class="btn btn-outline-secondary border-0" style="font-size: 0.9em;" for="btnGroupOrg" (click)="setGrouping(['org', 'ASC'])">Org</label>
                  </div>
                <div *ngFor="let group of groupedTeams">
                    <div class="groupHeader">{{group.groupName}}</div>
                    <div class="container p-1">
                        <div *ngFor="let team of group.teams" 
                                class="container border-bottom p-1" 
                                [class.bg-secondary]="team === selectedTeam"  
                                [class.text-white]="team === selectedTeam"
                                (click)="onSelectTeam(team)"
                                style="cursor: pointer; color: var(--primaryColor)">
                            {{team.season}} {{ team.name }} 
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
        <div class="col-lg-8">
            <ng-container *ngIf="this.selectedTeam">
                <div class="container h-100 rounded-3 bg-white" style="padding: 15px">
                    <h1>{{selectedTeam.name}}<span style="font-size: 0.9em;font-style: italic;padding-left: 10px;"><sup>{{selectedTeam.season}}</sup></span></h1>
                    <ul class="nav nav-pills  mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item pill-gray" role="presentation">
                        <button class="nav-link active p-1" id="pills-tabDetails" data-bs-toggle="pill" data-bs-target="#tabDetails" type="button" role="tab" aria-controls="tabDetails" aria-selected="true">Details</button>
                        </li>
                        <li class="nav-item pill-gray" role="presentation">
                        <button class="nav-link p-1" id="pills-tabNotes" data-bs-toggle="pill" data-bs-target="#tabNotes" type="button" role="tab" aria-controls="tabNotes" aria-selected="false">Notes</button>
                        </li>
                        <li class="nav-item pill-gray" role="presentation">
                        <button class="nav-link p-1" id="pills-tabAnalysis" data-bs-toggle="pill" data-bs-target="#tabAnalysis" type="button" role="tab" aria-controls="tabAnalysis" aria-selected="false">Analysis</button>
                        </li>
                        <li class="nav-item pill-gray" role="presentation">
                            <button class="nav-link p-1" id="pills-tabMedia" data-bs-toggle="pill" data-bs-target="#tabMedia" type="button" role="tab" aria-controls="tabMedia" aria-selected="false">Media</button>
                            </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="tabDetails" role="tabpanel" aria-labelledby="pills-tabDetails"><app-team-detail [team]="this.selectedTeam"></app-team-detail></div>
                        <div class="tab-pane fade" id="tabNotes" role="tabpanel" aria-labelledby="pills-tabNotes">...</div>
                        <div class="tab-pane fade" id="tabAnalysis" role="tabpanel" aria-labelledby="pills-tabAnalysis">...</div>
                        <div class="tab-pane fade" id="tabMedia" role="tabpanel" aria-labelledby="pills-tabMedia">...</div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<div class="modal fade" #editTeamModal id="addTeamModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="addTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="addTeamModalLabel">Add a new Team</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container bg-white rounded-3 pb-5">
                    <form #newTeamForm="ngForm" id="newTeamForm" (ngSubmit)="!newTeamForm.invalid && createTeam()">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" style="font-size: 0.9em;width:100px">Sport</span>
                            <select class="form-select" name="gameType" id="gameType" [(ngModel)]="newTeam.sport">
                                <option value="Hockey">Hockey</option>
                                <option value="Swim">Swim</option>
                                <option value="Baseball">Baseball</option>
                            </select>
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" style="font-size: 0.9em;width:100px">Team Name</span>
                            <input type="text" class="form-control" name="teamName" required="required" [(ngModel)]="newTeam.name" >
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" style="font-size: 0.9em;width:100px">Org Location</span>
                            <input type="text" class="form-control" name="orgCity" [(ngModel)]="newTeam.org.city" >
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" style="font-size: 0.9em;width:100px">Org Nickname</span>
                            <input type="text" class="form-control" name="orgName" required="true" [(ngModel)]="newTeam.org.name" >
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" style="font-size: 0.9em;width:100px">Season</span>
                            <input type="text" class="form-control" name="season" [(ngModel)]="newTeam.season" >
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" style="font-size: 0.9em;width:100px">Start Date</span>
                            <input type="date" class="form-control"  name="startDate" required="required" [ngModel]="newTeam.startDate | date:'yyyy-MM-dd'" (ngModelChange)="newStartDateStr = $event">
                        </div>
                    </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="newTeamForm" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
              </div>
        </div>
    </div>
</div>

