.winCard {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left-color: rgb(0, 117, 0);
    border-left-width: 5px;
    border-left-style: solid;
}

.lossCard {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left-color: rgb(167, 0, 0);
    border-left-width: 5px;
    border-left-style: solid;
}

.tieCard {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left-color: rgb(61, 61, 61);
    border-left-width: 5px;
    border-left-style: solid;    
}

.unplayedCard {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    
}

.currentTeam {
    font-weight: 600;
}

.opponentTeam {
    font-weight: 400;
}

.teamWon {
    color: darkgreen;
}

.teamLost {
    color: darkred;
}
