.winCard {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left-color: green;
    border-left-width: 5px;
    border-left-style: solid;
    background-image: linear-gradient(to left, white, var(--winGradientColor))
    
}

.lossCard {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left-color: rgba(255, 0, 0, 1);
    border-left-width: 5px;
    border-left-style: solid;
    background-image: linear-gradient(to left, white, var(--LossGradientColor))
}

.tieCard {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-left-color: rgb(61, 61, 61);
    border-left-width: 5px;
    border-left-style: solid;
    background-image: linear-gradient(to left, white, var(--tieGradientColor))
    
}

.unplayedCard {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    
}
