<div class="container rounded-3 m-0 mb-2 p-1 p-md-1" 
        [class.winCard]="isGameComplete(game) && isGameWin(game)"
        [class.lossCard]="isGameComplete(game) && isGameLoss(game)"
        [class.tieCard]="isGameComplete(game) && isGameTie(game)"
        [class.unplayedCard]="!isGameComplete(game)">
    <div class="row">
        <div class="col">
            <div class="row"  [class.currentTeam]="game.side==='Away'" 
                              [class.opponentTeam]="game.side==='Home'" 
                              [class.teamWon]="isGameComplete(game) && game.side==='Away' && isGameWin(game)"
                              [class.teamLost]="isGameComplete(game) && game.side==='Away' && isGameLoss(game)">
                <div class="col-8">
                    {{getAwayTeamName(game)}}
                </div>
                <div class="col">
                    <span *ngIf="isGameComplete(game)">{{getAwayTeamScore(game)}}</span>
                </div>
            </div>
            <div class="row mb-1" [class.currentTeam]="game.side==='Home'" 
                                  [class.opponentTeam]="game.side==='Away'"
                                  [class.teamWon]="isGameComplete(game) && game.side==='Home' && isGameWin(game)"
                                  [class.teamLost]="isGameComplete(game) && game.side==='Home' && isGameLoss(game)">
                <div class="col-8">
                    {{getHomeTeamName(game)}}
                </div>
                <div class="col">
                    <span *ngIf="isGameComplete(game)">{{getHomeTeamScore(game)}} <span *ngIf="game.isOvertime" class="overtimeMarker rounded-3" style="margin-left:4px;font-size:.65em">OT</span></span>
                </div>
            </div>
            <div class="row smallFont">
                <div class="col">
                    <em>{{game.startDateTime | date:'mediumDate'}} {{game.startDateTime | date:'shortTime'}} </em>
                </div>
                <div class="col">
                    <em>{{game.location}}<span *ngIf="game.locationDetail"> - {{game.locationDetail}}</span></em>
                </div>
            </div>
            <div class="row smallFont">
                <div class="col">
                    <em>{{game.gameType}} ({{game.league}}) </em>
                </div>
            </div>
        </div>
        <div class="col-1" style="max-width:200px;min-width:75px">
            <button id=buttonEdit (click)="editGame(game.teamId, game.gameId)" class="border-0" style="background-color: transparent;">
                <svg class="bi" width="14" height="14" fill="none">
                    <use xlink:href="assets/icons/bootstrap-icons.svg#pencil"/>
                </svg>
            </button>
            <button id=buttonDelete (click)="deleteGame(game.teamId, game.gameId, game.opponentTeamName)" class="border-0" style="background-color: transparent;">
                <svg class="bi" width="15" height="15" fill="currentColor">
                    <use xlink:href="assets/icons/bootstrap-icons.svg#trash"/>
                </svg>
            </button>
            <button *ngIf="isWithinTimeWindow(game.startDateTime, 48)" id=buttonScore (click)="scoreGame(game.teamId, game.gameId)" class="border-0" style="background-color: transparent;">
                <svg class="bi" width="15" height="15" fill="currentColor">
                    <use xlink:href="assets/icons/bootstrap-icons.svg#clipboard-check"/>
                </svg>
            </button>
        </div>
    </div>
    
</div>
