<div class="container-fluid pt-3">
    <div class="row">
        <div class="col">
            <div class="container p0">
                <h4>Personal Goals</h4>
                <app-personal-goals></app-personal-goals>
            </div>
        </div>
        <div class="col-md-4">
            <h1>{{player.firstName}} {{player.lastName}}</h1>
            <div *ngIf="this.player.includeHockey && this.player.hockeyAttributes" class="border">
                <p class="small">General</p> 
                <div class="row">
                    <span class="col-sm">Height:</span> <span class="col-sm"> {{ player.heightFeet }}'-{{ player.heightInches }}" </span>
                </div>
                <div class="row">
                    <span class="col-sm">Weight:</span> <span class="col-sm"> {{ player.weight }} lbs. </span>
                </div>
            </div>
            <div *ngIf="this.player.includeHockey && this.player.hockeyAttributes" class="border"> 
                <p class="small">Hockey</p>
                <div class="row">
                    <span class="col-sm">Position:</span> <span class="col-sm"> {{ player.hockeyAttributes.position }} </span>
                </div>
                <div class="row" >
                    <span class="col-sm">Shoots:</span> <span class="col-sm"> {{ player.hockeyAttributes.shot }} </span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <img [src]="profileImageSrc" class=".img-fluid" style="max-width:200px;max-height:auto" />
        </div>
    </div>
</div>


