<div class="container-fluid px-0 px-md-3 py-2 py-md-3">
    <div class="row">
        <div class="col-lg-8">
            <div class="container rounded-2 shadow bg-light pb-5">
              <h3><div class="row justify-content-between pt-3">
                    <div class="col-3  d-flex align-items-end mb-2">Camp and Clinic Sessions</div>
                    <div class="col-5 mb-2">
                        <button class="btn btn-md bg-white rounded-3 shadow-sm border" style="font-size:0.9em;" data-bs-toggle="modal" data-bs-target="#editClinicModal" (click)="onEditOpened(null)">
                            <svg class="bi" width="13" height="13" fill="currentColor" style="vertical-align: middle;">
                                <use xlink:href="assets/icons/bootstrap-icons.svg#plus-lg"/>
                            </svg>
                            New Session
                        </button>
                    </div>
            </div>
        </h3>
                <div *ngFor="let clinic of clinics" class="container border rounded-3 mt-3">
                  <div class="row">
                    <div class="col">
                      <app-clinic-list-item [clinic]="clinic"></app-clinic-list-item>
                    </div>
                    <div class="col-2">
                        <button id=buttonEdit  class="border-0" style="background-color: transparent;" (click)="onEditOpened(clinic)" data-bs-toggle="modal" data-bs-target="#editClinicModal">
                            <svg class="bi" width="14" height="14" fill="none">
                                <use xlink:href="assets/icons/bootstrap-icons.svg#pencil"/>
                            </svg>
                        </button>
                        <button id=buttonDelete  class="border-0" style="background-color: transparent;">
                            <svg class="bi" width="15" height="15" fill="currentColor">
                                <use xlink:href="assets/icons/bootstrap-icons.svg#trash"/>
                            </svg>
                        </button>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" #editTeamModal id="editClinicModal" tabindex="-1" aria-labelledby="editClinicModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title" id="editClinicModalLabel">Camp/Clinic Session</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container bg-white rounded-3 pb-5">
                  <form #editClinicForm="ngForm" id="editClinicForm" (ngSubmit)="!editClinicForm.invalid && saveClinic()">
                    <div class="accordion accordion-flush" id="editAccordian">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                            Basic Information
                          </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#editAccordian">
                          <div class="accordion-body">
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Sport</span>
                              <select class="form-select" name="sport" id="sport" [(ngModel)]="editClinic.sport">
                                  <option value="Hockey">Hockey</option>
                                  <option value="Swimming">Swimming</option>
                                  <option value="Climbing">Climbing</option>
                                  <option value="Fitness">Fitness</option>
                                  <option value="Other">Other</option>
                              </select>
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" style="width:110px">Name</span>
                                <input type="text" class="form-control" name="teamName" required="required" [(ngModel)]="editClinic.name" >
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Detail</span>
                              <input type="text" class="form-control" name="nameDetail" [(ngModel)]="editClinic.nameDetail" >
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Date</span>
                              <input type="date" class="form-control"  name="startDate" required="required" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="newStartDate = $event">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text">Start</span>
                              <input type="time" class="form-control"  name="startTime" id="startTime" required="required" [ngModel]="startTime" (ngModelChange)="startTime = $event">
                              <span class="input-group-text">End</span>
                              <input type="time" class="form-control"  name="endTime" id="endTime" required="required" [ngModel]="endTime" (ngModelChange)="endTime = $event">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Org Location</span>
                              <input type="text" class="form-control" name="org" [(ngModel)]="editClinic.org.city" >
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Org Name</span>
                              <input type="text" class="form-control" name="orgName" [(ngModel)]="editClinic.org.name" >
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Location</span>
                              <input type="text" class="form-control" name="location" [(ngModel)]="editClinic.location" >
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Location Detail</span>
                              <input type="text" class="form-control" name="locationDetail" [(ngModel)]="editClinic.locationDetail" >
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Coaches
                          </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#editAccordian">
                          <div class="accordion-body">
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Head Coach</span>
                              <input type="text" class="form-control" name="headCoach" [(ngModel)]="editClinic.headCoach" >
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Assistant Coach</span>
                              <input type="text" class="form-control" name="assistantCoach1" [(ngModel)]="editClinic.assistantCoach1" >
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Assistant Coach</span>
                              <input type="text" class="form-control" name="assistantCoach2" [(ngModel)]="editClinic.assistantCoach2" >
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Assistant Coach</span>
                              <input type="text" class="form-control" name="assistantCoach3" [(ngModel)]="editClinic.assistantCoach3" >
                            </div>
                            <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" style="width:110px">Assistant Coach</span>
                              <input type="text" class="form-control" name="assistantCoach4" [(ngModel)]="editClinic.assistantCoach4" >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> 
                    <div>
                      <span class="input-group-text input-group-sm">Description / Notes</span>
                      <textarea class="form-control" id="description" rows="5" name="description" aria-label="description" [(ngModel)]="editClinic.description"></textarea>
                    </div>
                  </form>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" form="editClinicForm" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
            </div>
      </div>
  </div>
</div>