<h3>{{player.firstName}} {{player.lastName}}</h3>
<div class="row g-0 justify-content-between">
    <div class="col-lg-7 p-2">
        <img [src]="profileImageSrc" style="max-width:200px;max-height:auto" />
    </div>
    <div class="col offset-md-1">
        <app-stat-display label="Height">{{ player.heightFeet }}'-{{ player.heightInches }}"</app-stat-display>
        <app-stat-display label="Weight">{{ player.weight }} lbs.</app-stat-display>
        <app-hockey-team-summary></app-hockey-team-summary>
    </div>
</div>