.winCard {
    background-image: linear-gradient(rgba(232, 232, 232, .2), rgba(0, 255, 0, 0.1))
}

.lossCard {
    background-image: linear-gradient(rgba(232, 232, 232, .2), rgba(255, 0, 0, 0.1))
}

.tieCard {
    background-image: linear-gradient(rgba(232, 232, 232, .2), rgba(0, 255, 0, 0.1))
}

.unplayedCard {
    background-image: linear-gradient(rgba(232, 232, 232, .2), rgba(232, 232, 232, 0.5))
}

.cardTitle {
    font-size: x-small;
    font-weight: 500;
    overflow: hidden;
    color:white; 
    background-color: rgba(65, 131, 215, .6);
    padding-left:10px;
    
}

.winText {
    font-size: 1.1em;
    color: green;
    font-weight: 700;
}

.lossText {
    font-size: 1.1em;
    color: red;
    font-weight: 500;
}