<div style="display: inline-flex;">
    <app-tool-button *ngIf="canSwitchEditMode && !isEditing"  (click)="editClick.emit($event)" class="me-2"
        iconHref="assets/icons/bootstrap-icons.svg#pencil" labelText="Edit"></app-tool-button>
    <app-tool-button *ngIf="isEditing"  [submitsFormName]="saveSubmitsForm" (click)="saveClick.emit($event)" class="me-2"
        iconHref="assets/icons/bootstrap-icons.svg#save" labelText="Save"></app-tool-button>
    <app-tool-button *ngIf="canSwitchEditMode && isEditing"  (click)="cancelClick.emit($event)" class="me-2"
        iconHref="assets/icons/bootstrap-icons.svg#x-lg" labelText="Cancel"></app-tool-button>
</div>