
<div class="container">
    <table class="table table-sm smallFont  table-striped">
        <thead>
            <tr>
                <th style="width:22%">{{title}}</th>
                <th style="width:13%;text-align: center">GP</th>
                <th style="width:13%;text-align: center">Goals</th>
                <th style="width:13%;text-align: center">Assists</th>
                <th style="width:13%;text-align: center">Points</th>
                <th style="width:13%;text-align: center">Shots</th>
                <th style="width:13%;text-align: center">PM</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currentStat of playerStats">
                <td>{{currentStat.description}}</td>
                <td style="text-align: center">{{currentStat.hockeyPlayerStats.gamesPlayed}}</td>
                <td style="text-align: center">{{currentStat.hockeyPlayerStats.goals}}</td>
                <td style="text-align: center">{{currentStat.hockeyPlayerStats.assists}}</td>
                <td style="text-align: center">{{currentStat.hockeyPlayerStats.points}}</td>
                <td style="text-align: center">{{currentStat.hockeyPlayerStats.shots}}</td>
                <td style="text-align: center">{{currentStat.hockeyPlayerStats.penaltyMin}}</td>
            </tr>
        </tbody>
    </table>
</div>