/* You can add global styles to this file, and also import other style files */
/*@import url(https://unpkg.com/bootstrap@5.1.0/dist/css/bootstrap.min.css)*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


:root {
  --primaryColor: rgb(4, 46, 160);
  --lightAccentColor: rgba(65, 131, 215, .6);
  --winGradientColor: rgba(0, 255, 0, 0.1);
  --LossGradientColor: rgba(255, 0, 0, 0.1);
  --tieGradientColor: rgb(190, 188, 188, .5);

}

@font-face {
    font-family: progress;
    src: url(assets/fonts/progress.ttf);
  }

@font-face {
  font-family: varsity;
  src: url(assets/fonts/varsity_regular.ttf);
}


.smallFont {
  font-size: .8em;
}

.overtimeMarker {
  background-color: var(--lightAccentColor);
  color: white;
  font-size: .75em;
  font-weight: 800;
  display: inline-block;
  padding:2px
}

h2 {
  font-weight: 700;
  font-size: 1.3em;
  color: var(--primaryColor);
}


h3 {
  font-weight: 700;
  border-bottom: 2px solid var(--primaryColor);
  font-size: 1.1em;
  color: var(--primaryColor);
}

h4 {
  font-weight: 700;
  border-bottom: 2px solid var(--primaryColor);
  font-size: 1.0em;
  color: var(--primaryColor);
}

h5 {
  font-weight: 400;
  border-top: 1.5px solid var(--primaryColor);
  font-size: 0.8em;
  color: var(--primaryColor);
}

h6 {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--primaryColor);
}

.rounded-big {
  border-radius: 1em;
}

.rounded-bottom-big {
  border-end-end-radius: 1em;
  border-end-start-radius: 1em;
}

.buttonLabel {
  font-size: 0.9em;
  font-weight: 200;
  margin-left: 4px;
}

.textButton {
  border-style: solid;
  border-width: 1px;
  border-color: var(--primaryColor);
  border-radius: 4px;
  
  color: var(--primaryColor);
  background-color: transparent;
  margin-left: 3px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}