<div class="row g-0">
    <div class="col-md-7">
        <h5 class="card-title">{{player.firstName}} {{player.lastName}}</h5>
        <div class="card-text">
            <div class="container">
                <div class="row gy-5" *ngIf="player.nickName"><span class="col-sm-16" style="font-style: italic">{{ player.nickName }}</span></div>
                <fieldset >
                    <div class="row">
                        <span class="col">Height:</span> <span class="col"> {{ player.heightFeet }}'-{{ player.heightInches }}" </span>
                    </div>
                    <div class="row">
                        <span class="col">Weight:</span> <span class="col"> {{ player.weight }} lbs. </span>
                    </div>
                </fieldset>
                <div class="card mt-3" *ngIf="this.player.includeHockey && this.player.hockeyAttributes">
                    <div class="card-header">Hockey</div>
                    <div class="card-body">
                        <div class="row">
                            <span class="col">Position:</span> <span class="col"> {{ player.hockeyAttributes.position }} </span>
                        </div>
                        <div class="row" >
                            <span class="col">Shoots:</span> <span class="col"> {{ player.hockeyAttributes.shot }} </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="assets/images/bradley.jpeg" alt="..." style="max-width:100%;max-height:100%;" />
    </div>
</div>