<div class="container h-100 rounded-3 bg-white mt-md-3" style="padding: 15px">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button id=buttonBack class="border-0 bg-white" type="button"  (click)="navigateBack();">
                    <svg class="bi" width="28" height="28" fill="currentColor">
                        <use xlink:href="assets/icons/bootstrap-icons.svg#arrow-left"/>
                    </svg>
                </button>
                <button *ngIf="savedSwimMeet.meetId >= 0" id=buttonDelete class="border-0 bg-white" type="button" (click)="deleteSwimMeet(savedSwimMeet)">
                    <svg class="bi" width="20" height="20" fill="currentColor">
                        <use xlink:href="assets/icons/bootstrap-icons.svg#trash"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>
                    <ng-container *ngIf="savedSwimMeet.meetId == -1">New Meet</ng-container> <ng-container *ngIf="savedSwimMeet.meetId >= 0">{{savedSwimMeet.name}}</ng-container>               
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h4>
                    <div class="d-flex justify-content-between">
                        <div>
                            Meet Info
                        </div>
                        <div class="mb-1">
                            <app-edit-buttons [canSwitchEditMode]="canSwitchEditMode" [isEditing]="isEditing" [isSaving]="isSaving" saveSubmitsForm="swimMeetForm" 
                                        (editClick)="editSwimMeet()" (cancelClick)="cancelSwimMeetEdit()"></app-edit-buttons>
                        </div>
                    </div>
                </h4>
                <ng-container *ngIf="!isEditing">
                    <app-text-field labelText="Date">{{savedSwimMeet.startDateTime | date:'MMM d, y, h:mm a'}}-{{savedSwimMeet.endDateTime | date:'shortTime'}}</app-text-field>
                    <app-text-field labelText="Location">{{savedSwimMeet.location}} <span *ngIf="savedSwimMeet.locationDetail"> | {{savedSwimMeet.locationDetail}}</span></app-text-field>
                    <app-text-field *ngIf="savedSwimMeet.opponent1 || savedSwimMeet.opponent2" labelText="Opponents">{{savedSwimMeet.opponent1}} <span *ngIf="savedSwimMeet.opponent2">, {{savedSwimMeet.opponent2}}</span></app-text-field>                    
                    <app-text-field *ngIf="savedSwimMeet.preMeetNotes" labelText="Pre-meet Notes">{{savedSwimMeet.preMeetNotes}}</app-text-field>
                    <app-text-field *ngIf="savedSwimMeet.postMeetNotes" labelText="Post-meet Notes">{{savedSwimMeet.postMeetNotes}}</app-text-field>
                </ng-container>
                <ng-container *ngIf="isEditing">
                    <form #swimMeetForm="ngForm" id="swimMeetForm" (ngSubmit)="!swimMeetForm.invalid && saveSwimMeet()">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Name</span>
                            <input type="text" class="form-control" name="meetName" required="required" [(ngModel)]="editedSwimMeet.name" >
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Start Date</span>
                            <input type="date" class="form-control"  name="startDate" required="required" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="newStartDateStr = $event">
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Start</span>
                            <input type="time" class="form-control"  name="startTime" id="startTime" required="required" [ngModel]="startTimeStr" (ngModelChange)="startTimeStr = $event">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">End</span>
                            <input type="time" class="form-control"  name="endTime" id="endTime" required="required" [ngModel]="endTimeStr" (ngModelChange)="endTimeStr = $event">
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Opponent 1</span>
                            <input type="text" class="form-control" name="opponent1" [(ngModel)]="editedSwimMeet.opponent1" >
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Opponent 2</span>
                            <input type="text" class="form-control" name="opponent2" [(ngModel)]="editedSwimMeet.opponent2" >
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Location</span>
                            <input type="text" class="form-control" name="location" [(ngModel)]="editedSwimMeet.location" >
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px"></span>
                            <input type="text" class="form-control" name="locationDetail" [(ngModel)]="editedSwimMeet.locationDetail" >
                        </div>
                        <div class="container-fluid p-0">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;">Pre-Meet Notes:</span>
                            <textarea class="form-control" id="preMeetNotes" rows="5" name="preMeetNotes" aria-label="PostMeet Notes" [(ngModel)]="editedSwimMeet.preMeetNotes" style="font-size: 0.9em;"></textarea>
                        </div>
                        <div class="container-fluid p-0">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;">Post-Meet Notes:</span>
                            <textarea class="form-control" id="postMeetNotes" rows="5" name="postMeetNotes" aria-label="PostMeet Notes" [(ngModel)]="editedSwimMeet.postMeetNotes" style="font-size: 0.9em;"></textarea>
                        </div>
                        
                    </form>
                </ng-container>
            </div>
            <div class="col" *ngIf="savedSwimMeet.meetId > 0">
                <h4>
                    <div class="d-flex justify-content-between">
                        <div>
                            Events
                        </div>
                        <div class="mb-1">
                            <app-tool-button data-bs-target="#addSwimEventModal" data-bs-toggle="modal" 
                                iconHref="assets/icons/bootstrap-icons.svg#plus-square" labelText="Add Event"></app-tool-button>
                        </div>
                    </div>
                </h4>
                <table class="table table-hover table-sm" style="font-size: 0.9em;">
                    <thead>
                      <tr>
                        <th scope="col">Event #</th>
                        <th scope="col">Event</th>
                        <th scope="col">Seed Time</th>
                        <th scope="col">Split Time</th>
                        <th scope="col">Total Time</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                    
                      <tr *ngFor="let swimEvent of swimEvents">
                        <td>{{swimEvent.eventNumber}}</td>
                        <td>{{getSwimEventDescription(swimEvent)}}</td>
                        <td>{{formatTime(swimEvent.seedTimeSec, false)}}</td>
                        <td>{{formatTime(swimEvent.splitTimeSec, swimEvent.disqualification)}}</td>
                        <td>{{formatTime(swimEvent.totalTimeSec, swimEvent.disqualification)}}</td>
                        <td>
                            <button id=buttonEdit (click)="editSwimEvent(swimEvent)" class="border-0" style="background-color: transparent;"
                                    data-bs-target="#addSwimEventModal" data-bs-toggle="modal"> 
                                <svg class="bi" width="14" height="14" fill="none">
                                    <use xlink:href="assets/icons/bootstrap-icons.svg#pencil"/>
                                </svg>
                            </button>
                            <button id=buttonDelete (click)="deleteSwimEvent(swimEvent)" class="border-0" style="background-color: transparent;">
                                <svg class="bi" width="15" height="15" fill="currentColor">
                                    <use xlink:href="assets/icons/bootstrap-icons.svg#trash"/>
                                </svg>
                            </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="container bg-white rounded-3 shadow-lg p-0 pt-3">

        
               
    </div>
</div>

<div class="modal fade" #editPracticeModal id="addSwimEventModal" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addSwimEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="addSwimEventModalLabel">Swim Meet Event</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="container bg-white p-1">
                    <form #addSwimEventForm="ngForm" id="addSwimEventForm" (ngSubmit)="!addSwimEventForm.invalid && saveSwimEvent()">
                        <div class="input-group input-group-sm ">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Event #</span>
                            <input type="text" class="form-control" name="eventNumber" [(ngModel)]="editedSwimEvent.eventNumber" >
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:80px">Heat</span>
                            <input type="text" class="form-control" name="heat" [(ngModel)]="editedSwimEvent.heat" >
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" style="font-size: 0.9em;width:100px">Relay</span>
                            <select class="form-select" id="result" name="result" [(ngModel)]="editedSwimEvent.relayNumber" (change)="onChangeSwimEventRelay($event)">
                                <option value=""></option>
                                <option value="1">Individual</option>
                                <option value="2">2x</option>
                                <option value="4">4x</option>
                            </select>
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Leg</span>
                            <input type="text" class="form-control" name="relayLeg" id="relayLeg" [disabled]="!isSwimEventRelay(editedSwimEvent)" [(ngModel)]="editedSwimEvent.relayLeg" >
                        </div>
                        <div class="input-group input-group-sm ">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Race Distance</span>
                            <input type="text" class="form-control" name="totalDistance" required="required" [(ngModel)]="editedSwimEvent.totalDistance" >
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">meters</span>
                        </div>
                        <div class="input-group input-group-sm">
                            <span class="input-group-text" style="font-size: 0.9em;width:100px">Event</span>
                            <select class="form-select" id="eventType" name="eventType" [(ngModel)]="editedSwimEvent.eventType" (change)="onChangeSwimEventType($event)">
                                <option value=""></option>
                                <option value="Freestyle">Freestyle</option>
                                <option value="Backstroke">Backstroke</option>
                                <option value="Butterfly">Butterfly</option>
                                <option value="Breaststroke">Breaststroke</option>
                                <option value="IM">IM</option>
                            </select>
                            <span class="input-group-text" style="font-size: 0.9em;width:100px">Stroke</span>
                            <select class="form-select" id="stroke" name="stroke" [disabled]="!isSwimEventIM(editedSwimEvent)" [(ngModel)]="editedSwimEvent.stroke" >
                                <option value=""></option>
                                <option value="Freestyle">Freestyle</option>
                                <option value="Backstroke">Backstroke</option>
                                <option value="Butterfly">Butterfly</option>
                                <option value="Breaststroke">Breaststroke</option>
                            </select>
                        </div>
                        <div>
                            
                            <h5 style="margin-top: 5px;">Times</h5>
                            <div style="display:inline-flex;width: 100%;">
                                <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:33%">Seed</span>
                                <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:33%">Split</span>
                                <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:33%">Total</span>
                            </div>
                            <div style="display:inline-flex;width: 100%;">
                                <input type="text" pattern="([0-9]+:)?[0-9]{1,2}(.[0-9]{1,})?" placeholder="#:##.###" style="width:33%" class="form-control" name="seedTimeSec" [(ngModel)]="editSwimEventSeedTimeStr">    
                                <input type="text" pattern="([0-9]+:)?[0-9]{1,2}(.[0-9]{1,})?" placeholder="#:##.###" style="width:33%" class="form-control" name="splitTimeSec" [(ngModel)]="editSwimEventSplitTimeStr" (change)="onChangeSwimEventSplitTime($event);">
                                <input type="text" pattern="([0-9]+:)?[0-9]{1,2}(.[0-9]{1,})?" placeholder="#:##.###" style="width:33%" class="form-control" name="totalTimeSec" [(ngModel)]="editSwimEventTotalTimeStr" [disabled]="!isSwimEventRelay(editedSwimEvent)"> 
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3 d-flex justify-content-center mt-1">
                            <div class="form-check form-switch ms-4">
                                <input class="form-check-input" type="checkbox" id="isDisqualification" name="isDisqualification" [(ngModel)]="editedSwimEvent.disqualification" >
                                <label class="form-check-label" for="isOvertime">Disqualified?</label>
                            </div>
                            <div class="form-check form-switch ms-4">
                                <input class="form-check-input" type="checkbox" id="isScratch" name="isScratch" [(ngModel)]="editedSwimEvent.scratch" >
                                <label class="form-check-label" for="isScratch">Scratched?</label>
                            </div>
                        </div>
                        
                        <div class="input-group input-group-sm ">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Place</span>
                            <input type="numeric" class="form-control" name="place" [(ngModel)]="editedSwimEvent.place">
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;width:100px">Meet Points</span>
                            <input type="numeric" class="form-control" name="meetPoints" [(ngModel)]="editedSwimEvent.meetPoints">
                        </div>
                        
                        <div>
                            <span class="input-group-text input-group-sm" style="font-size: 0.9em;">Notes</span>
                            <textarea class="form-control" id="notes" rows="5" name="notes" aria-label="notes" [(ngModel)]="editedSwimEvent.notes" style="font-size: 0.9em;"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="resetSwimEventForm(null);">Close</button>
                <button type="submit" form="addSwimEventForm" class="btn btn-primary">Save</button>
                <app-status-icon #swimEventStatus id="swimEventStatus" [statusIconSettings]="swimEventStatusIconSettings"></app-status-icon>
            </div>
        </div>
    </div>
</div>