<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/Journeyman</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.username">user</property>
        <property name="connection.password">pass</property>
        <property name="connection.pool_size">50</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="hbm2ddl.auto">validate</property>
        <mapping class="com.hockey43.iInTeam.dataObjects.Player" />
        <mapping class="com.hockey43.iInTeam.dataObjects.Org" />
        <mapping class="com.hockey43.iInTeam.dataObjects.hockey.HockeyTeam" />
        <mapping class="com.hockey43.iInTeam.dataObjects.hockey.HockeyGame" />
        <mapping class="com.hockey43.iInTeam.dataObjects.Media" />
        <mapping class="com.hockey43.iInTeam.dataObjects.PersonalGoal" />
        <mapping class="com.hockey43.iInTeam.dataObjects.hockey.HockeyAttributes" />
    </session-factory>

</hibernate-configuration>